body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.day {
    display: table-cell;
    padding: 10px;
}

.maindesc {
    margin-top: 250px;
    text-align: center;
    font-size: 45px;
}